.logo__footer-span {
  color: white;
  text-align: center;

}
.logo{
  text-align: center;
  display: block;
}
.address {
  font-style: normal;
  display: block;
  margin-top: 20px;
  text-align: center;

}
.address__paragraph {
  margin-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
}
.address__link {
  margin-top: 9px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}